{% extends "base.html" %}

{% block head %}
	<link rel="stylesheet" href="about.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
{% endblock %}




{% block content %}
	<hr>
	<div>
		
		The project "IoT Based Waste Segregator" has been co-developed by the students of Dayananda Sagar College of Engineering , Bangalore namely , Boudhayan Dev, Aditya Agarwal, Chinmay Hebbal , Aishwarya H.S. The device detects , identifies and segregates waste items without any human intervention . 
		<br>
		The prime motivation behind this project has been the problem that affects us all i.e Waste Management . The million tons of waste that are generated daily do not get properly segreagted and as a result, a large portion of the non biodegradable waste are mixed with biodegradable ones and are dumped in landmines . This ultimately piles up and their effect on the environment esp. Soil and Groundwater resources becomes devastating . Thus , we have come up with the idea that if we can segregate the waste items at the grassroots levels itself i.e households , then the percentage of mixup can be reduced by a great margin . This in turn will also help in increasing the amount of recyclable items from the waste heap.
		 <br>
		We have used Raspberry Pi 2 B development board for this project . It consists of a network of servo motors for controlling its arm and the rotating flap , inside the compartment . It is also equipped with a moving base that is powered by DC motors . The image recognition utilises the Google Vision API . The working demo can be found in the "Home" section . Please check it out and also do not forget to leave us a feedback !
	</div>
		

{% endblock %}










