<!DOCTYPE html>
<html>
<head>
	{% if title %}
    {% block head %}{% endblock %}
	<title>{{ title }}</title>
	{% else %}
	<title>Welcome_segregator</title>
	{% endif %}
</head>
<body>
	 <div>
            Welcome:
            <a href="{{ url_for('index') }}">{{ current_user.username }}</a>
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('dashboard') }}">Dashboard</a>
            <a href="{{ url_for('about') }}">About Us</a>
            <a href="{{ url_for('feedback') }}">Feedback</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}

</body>
</html>