
{% extends "base.html" %}

{% block content %}

<div class="container ">
	<hr>
	<div class="row">
		<div class="jumbotron ">
		  <h1>AUTOMATIC WASTE SEGREGATOR</h1>

		</div>
	</div>
	
	<div class="row">
		<div class="col-md-12" id="introduction">
			
				<p>The exponential growth of waste materials due to
				rapid urbanization has put an immense pressure on our
				environment. Improper handling of waste materials and their
				disposal has polluted our ground water and land resources.
				Therefore, it is imperative that we examine the process of waste
				collection, segregation and automation for better management of
				the waste materials. If the waste items are segregated properly at
				their grassroots level, a major portion of the waste management
				cycle is covered. The usage of automation in segregation of waste
				items can greatly improve its efficiency and at the same time
				reduce the health hazards associated with manual segregation.</p>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
			<img src="{{ url_for('static',filename='styles/device.jpg') }}" width=240px height=280px>

		</div>
		<div class="col-md-9 col-lg-9 col-sm-9 col-xs-9" id="introduction">
			<p>This project provides a solution that can detect, identify and
			segregate waste items into biodegradable and non-biodegradable
			categories without any human assistance. The Automatic waste
			segregator is a centrally partitioned movable bin that travels in
			the given area of interest and picks up any waste item in its path. It uses
			Image Processing to detect an object and then picks it up using a
			robotic arm attached to its body. The robotic arm places the
			object on the rotating flap which is attached to the two compartments.
			Machine Learning is used to identify the category of the waste
			item. The waste item is then deposited into its respective
			compartment by the rotating flap. The system continues in its
			path until the end of the area is reached.</p>
			<p>
				The prototype demonstration can be see in the video below.
			</p>
		</div>
			
	</div>
	<br>
	<div class="row">
		<div class="col-md-7 col-lg-7 col-sm-7 col-xs-7" id="introduction">
			<p>The project uses Machine Learning to identify the waste items. A brief introduction about the Machine Learning technology is provided in the video below.
			</p>
			<iframe width="520" height="225" src="https://www.youtube.com/embed/yofjFQddwHE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> 
		</div>
		<div class="col-md-5 col-lg-5 col-sm-5 col-xs-5">

			<iframe src="https://www.youtube.com/embed/7YgnJELpMyE?ecver=2" width="450" height="305" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		</div>
	</div>
	
</div>

{% endblock %}