#header{
	font-size: 19px;
	font-family: 'Saira', sans-serif;
	color: #ffffff;
}
#logo{
	font-size: 50px;
	color: #ffffff;
}

.navbar-custom{
	background-color:#ff002e;
}
.nav-custom:hover{
	background-color: black;
}
ul.nav a:hover{
	background-color: black;
}
.glyphicon{
	color: #ffffff;

}