
#info{
	font-size: 23px;
	font-family: 'Saira',sans-serif;
	text-align: center;
	color: white;
}


.images-table{ 
    width: auto !important;
    margin-left: 10%;
    margin-right: 10%;
}

.folder-link {
	color: #1cd1ff;
}

table tr.row-hover:hover{
	background-color: black;

}
table tr.row-hover:hover .folder-link{
	color:white;
}

table tr.row-hover:hover .folder-link:hover{
	color: #19ff4b;
}