.jumbotron{
	text-align: center;
	font-family: 'Saira', sans-serif;
	background-color:#ff002e;
	color: white;
}


.jumbotron:hover{
	background-color:white ;
	color:#ff002e;
}
#introduction{
	font-size: 21px;
	font-family: 'Saira', sans-serif;
	text-align: justify;
	color: white;
	font-style: bold;

}

body{
	background-color:#1e0101;
}

.main-body{
	background-color:#07070c ;
}


